################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/Solution4DesignPattern/.vs/Solution4DesignPattern/v15
/Solution4DesignPattern/.vs/Solution4DesignPattern
/Solution4DesignPattern/.vs/Solution4DesignPattern
